# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Use the correct line endings for Windows batch scripts and Unix shell scripts
*.bat text eol=crlf
*.sh text eol=lf
